{% load i18n cpm_common_tags piwik_tags %}<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
      <title>{% trans 'как это было' %} - Cinema Perpetuum Mobile 2013</title>
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- favicon -->
    <link rel="icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico"/>

    <!-- styles -->
    <link href="{{ STATIC_URL }}cpm2013/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}cpm2013/styles.css?v=7" rel="stylesheet">

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}cpm2013/bootstrap/js/bootstrap.min.js"></script>


  </head>

  <body>
  <!-- Header block -->
  <div id="header-container" class="container">
      <div id="header-container" class="container">
          <a href="{% url cpm2013:index %}">
              <img src="{{ STATIC_URL }}cpm2013/logo2013.png" height="150px" alt="CPM filmfest"/>
          </a>
          <a id="header-call" href="{% url cpm2013:index %}">
              <div id="line1">{% trans "January, 12-20" %}</div>
              <div id="line2">{% trans "planet Earth" %}</div>
          </a>
      </div>

  <!-- Menu block -->

  <div class="container">
      <div class="navbar">
          <div class="navbar-inner">
              <div class="container">
                  {% mainmenu request %}
              </div>
          </div>
          <!-- /navbar-inner -->
      </div>
  </div>

  <!-- Body content block -->

  <div id="content-container" class="container">
  <div class="row">
      <div class="span9 yellow">

          <p class="foreworld">
              Міжнародны фестываль кароткаметражных фільмаў Cinema Perpetuum Mobile - 2013 яшчэ раз адбыўся. Мы працягнулі нашыя эксперыменты з пляцоўкамі і месцамі паказаў: на працягу 9 дзён прагляды адбываліся на 8 пляцоўках Мінска і адначасова  ў 10 гарадах Беларусі, а паказы адмысловай міжнароднай праграмы здарыліся у 15 краінах міру.
          </p>
          <p class="foreworld">
              У СРМ - 2013 прыняло удзел больш за 320 стужак з больш як 40 краін. Конкурсная праграма утрымлівала 24 стужкі, а 60 іншых трапілі у тэматычныя па-за конкурсныя паказы, якія былі разбіты на 16 тэматычных праграм.
          </p>

          <p class="foreworld">
              У 2013 годзе мы працягнулі будаваць нашую партнерскую сетку і працягнулі працэс дыялогу паміж кінасуполкамі Беларусі і яе суседзямі, так і усяго сусвету.
          </p>

          <ul id="cpm2013_results_sections" class="nav nav-tabs">
              <li class="active"><a href="#winners">winners</a></li>
              <li><a href="#jury">jury</a></li>
              <li><a href="#globe">cpm on the globe</a></li>
          </ul>

          <div class="tab-content">
              <div id="winners" class="tab-pane active">
                  <!-->
                      Winngers
                  <!-->
                  <table>

                  </table>


              </div>
              <div id="jury" class="tab-pane">jury content</div>
              <div id="globe" class="tab-pane">globe contents</div>
          </div>


      </div>
      <!-- Statistic column block -->
      <div class="span3 yellow">
          <div class="fact underborder">
              <strong>2013</strong>
              {% trans 'январь' %}
          </div>
          <div class="fact underborder">
              <strong>8</strong>
              {% trans 'дней' %}
          </div>
          <div class="fact underborder">
              <strong>42</strong>
              {% trans 'стран' %}
          </div>
          <div class="fact underborder">
              <strong>320</strong>
              {% trans 'участников' %}
          </div>
          <div class="fact underborder">
              <strong>$500</strong>
              {% trans 'бюджет' %}
          </div>
          <div class="fact underborder">
              <strong>9</strong>
              {% trans 'членов жюри' %}
          </div>
          <div class="fact underborder">
              <strong>150</strong>
              {% trans 'волонтера' %}
          </div>
          <div class="fact">
              <strong>8</strong>
              {% trans 'площадок' %}
          </div>
          <div class="fact">
                       <strong>8</strong>
                       {% trans 'городов в Беларуси' %}
                   </div>
          <div class="fact">
                                 <strong>15</strong>
                                 {% trans 'стран-удзельнікаў міжнародных паказаў' %}
                             </div>

          <ul id="places">
              <li id="place-museum-nat">
  	      <span>{% trans 'Национальный художественный музей' %},<br/>
  		<address>{% trans 'ул. Ленина, 20' %}</address>
  	      </span>
              </li>
              <li id="place-museum-cin">
  	      <span>{% trans 'Музей истории белорусского кино' %},
  		<address>{% trans 'ул. Свердлова, 4' %}</address>
  	      </span>
              </li>
              <li id="place-ddm">
  	      <span>{% trans 'Дворец детей и молодежи' %},<br/>
  		<address>{% trans 'Старовиленский тракт, 41' %}</address>
  	      </span>
              </li>
              <li id="place-la-mora">
  	      <span>{% trans 'ДК «La мора»' %},
  		<a href="http://la-mora.info">la-mora.info</a>
  	      </span>
              </li>
          </ul>
      </div>
  </div>

      <!-- footer block -->
  <footer class="footer">
      <div class="container">
          <div class="row footer-menu">
              <div class="span4 pagination-centered">
                  {% trans 'международный фестиваль' %}<br/>
                  {% trans 'короткометражного кино' %}<br/>
                  <strong>Cinema Perpetuum Mobile</strong><br/>
                  {% trans 'January 2013' %}<br/>
                  {% trans 'Minsk, Belarus' %}
              </div>
              <div class="span8">
                  {% trans "Links" %}:
                  {% bottommenu %}
              </div>
          </div>
      </div>
  </footer>

      <script type="text/javascript">
          $('#cpm2013_results_sections a').click(function (e) {
              e.preventDefault();
              $(this).tab('show');
          })
      </script>


  {% piwik %}
  </body>
</html>
